---
title: pages.about.title
permalink: /about
---

<section class="ftco-section about-section">
  <div class="container">
    <div class="row justify-content-center pt-2 pb-2">
      <div class="col-md-12 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <span class="subheading">{% translate pages.about.intro.subheading %}</span>
        <h2>{% translate pages.about.intro.heading %}</h2>
      </div>
      <div class="text text-center col-lg-8 ftco-animate fadeInUp ftco-animated">
        {% for t in site.translations[site.lang].pages.about.intro.text %}
          {{t.item}}<br/><br/>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="ftco-section about-office-section ftco-degree-bg">
  <div class="container">
    <div class="row justify-content-center pt-2 pb-2">
      <div class="col-md-12 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <span class="subheading">{% translate pages.about.office.subheading %}</span>
        <h2>{% translate pages.about.office.heading %}</h2>
      </div>
    </div>
    <div class="row ftco-animate fadeInUp ftco-animated">  
      <div class="row d-flex">
        <div class="img col-12 col-lg-6 order-last" style="background-image: url('{{ "/assets/images/about_office.jpeg" | prepend: site.baseurl_root }}');"></div>
        <div class="text col-12 col-lg-6 order-first ftco-animate fadeInUp ftco-animated">
          {% for t in site.translations[site.lang].pages.about.office.text %}
            {{t.item}}<br/><br/>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section about-tech-section">
  <div class="container">
    <div class="row justify-content-center pb-2">
      <div class="col-md-12 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <span class="subheading">{% translate pages.about.tech.subheading %}</span>
        <h2>{% translate pages.about.tech.heading %}</h2>
        <p>{% translate pages.about.tech.text %}</p>
      </div>
    </div>
    <div class="row ftco-animate fadeInUp ftco-animated">
      <div class="row">
        <div class="col-md-6 col-lg-3 align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-1 d-flex justify-content-center mb-3"><span class="align-self-center fas fa-cloud"></span></div></div>
            <div class="media-body p-2">
              <h3 class="heading">{% translate pages.about.tech.cloud.heading %}</h3>
              <p>{% translate pages.about.tech.cloud.text %}</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-3 align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-2 d-flex justify-content-center mb-3"><span class="align-self-center fas fa-lock"></span></div></div>
            <div class="media-body p-2">
              <h3 class="heading">{% translate pages.about.tech.security.heading %}</h3>
              <p>{% translate pages.about.tech.security.text %}</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-3 align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-3 d-flex justify-content-center mb-3"><span class="align-self-center fas fa-trophy"></span></div></div>
            <div class="media-body p-2">
              <h3 class="heading">{% translate pages.about.tech.online.heading %}</h3>
              <p>{% translate pages.about.tech.online.text %}</p>
            </div>
          </div>    
        </div>
        <div class="col-md-6 col-lg-3 align-self-stretch ftco-animate fadeInUp ftco-animated">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon color-4 d-flex justify-content-center mb-3"><span class="align-self-center fas fa-mobile-alt"></span></div></div>
            <div class="media-body p-2">
              <h3 class="heading">{% translate pages.about.tech.app.heading %}</h3>
              <p>{% translate pages.about.tech.app.text %}</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </div>
</section>

{% if jekyll.environment == 'development' %}  
<section class="ftco-section about-customers-section ftco-degree-bg">
  <div class="container">
    <div class="row justify-content-center pt-2 pb-2">
      <div class="col-md-12 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <span class="subheading">{% translate pages.about.customers.subheading %}</span>
        <h2>{% translate pages.about.customers.heading %}</h2>
        <p>{% translate pages.about.customers.text %}</p>
      </div>
    </div>
    <div class="row ftco-animate fadeInUp ftco-animated">  
      <div class="row d-flex">
        <div class="col-sm-6 order-first">
          {% imagesize /assets/images/about_customers_01.png:img class='img-fluid' loading='lazy' alt='' %}
        </div>
        <div class="col-sm-6 order-last">
          {% imagesize /assets/images/about_customers_02.png:img class='img-fluid' loading='lazy' alt='' %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section class="ftco-section about-jobs-section">
  <div class="container">
    <div class="row justify-content-center pb-2">
      <div class="col-md-12 text-center heading-section ftco-animate fadeInUp ftco-animated">
        <span class="subheading">{% translate pages.about.jobs.subheading %}</span>
        <h2>{% translate pages.about.jobs.heading %}</h2>
        <p>{% translate pages.about.jobs.text %}</p>
        <a href="https://www.linkedin.com/company/salaozenapp/jobs/" class="btn btn-primary py-3 px-5" target="_blank">{% translate pages.about.jobs.button %}</a>
      </div>
    </div>
  </div>
</section>