@import url('https://fonts.googleapis.com/css?family=Kodchasan');

html, body { 
  height: 100%;
  overflow: auto;
  font-size: 0.96rem;
  color: #fff;
}

body1 {
  background: #ff5f6d;
  background: -moz-linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
  background: -webkit-linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
  background: -o-linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
  background: -ms-linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
  background: linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
}

body {
  background: #339a99;
  background: -moz-linear-gradient(135deg, #339a99 0%, #65cb99 100%);
  background: -webkit-linear-gradient(135deg, #339a99 0%, #65cb99 100%);
  background: -o-linear-gradient(135deg, #339a99 0%, #65cb99 100%);
  background: -ms-linear-gradient(135deg, #339a99 0%, #65cb99 100%);
  background: linear-gradient(135deg, #339a99 0%, #65cb99 100%);
}

.container-fluid {
  min-height: 100%!important;
  height: 100%!important;
}

.btn {
  border-radius: 100px;
  background-color: #fff;
  color: #339a99!important;
  padding: 6px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff!important;
  background-color: transparent;
  border-color: #fff;
}

section {
  height: 15%!important;
  padding: 10px 0px;
}

section img {
  height: 100%;
}

header {
  height: 85%!important;
}

header img {
  width: 85%;
  height: auto;
  margin-top: 20%
}

p {
  margin: 60px 0px 20px 0px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Kodchasan', sans-serif;
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 1.2rem;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 1.4rem;
  }
}