.about-tech-section {
  .services {
    border: 1px solid #e7e7e8;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 10px rgba(41, 44, 28, 0.1);
    padding-top: 1rem;

    .icon {
      width: 90px;
      height: 90px;
      @include border-radius(50%);

      background: $primary_lighten;

      span {
        color: #fff;
      }
    }

    .media-body {
      h3 {
        font-size: 17px;
      }
    }
  }
}

.about-section {
  .text {
    font-size: 20px;
  }
}

.about-office-section {
  background-color: $secondary;
  color: rgba(255, 255, 255, .7) !important;
  
  .subheading {
    color: rgba(255, 255, 255, .7) !important;
  }

  h2, span {
    color: $white !important;
  }

  .text {
    font-size: 20px;
  }


  .img {
    display: block;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 25px 82px -31px rgba(0, 0, 0, 0.36);
  }
}

.about-customers-section {
  background-color: $grey;

  h2, .subheading {
    color: $white !important;
  }
}