.features-app-section {
  background-color: $grey;

  h2,
  .subheading {
    color: $white !important;
  }
}

.features-section {
  ul {
    font-size: 1.2em;
    @include media-breakpoint-down(sm) {
      font-size: 0.8em;
    }

    li {
      margin-bottom: 5px;
      i {
        color: $secondary;
      }
    }
  }

  .col-img {
    @include media-breakpoint-down(sm) {
      order: -2;
    }
  }
}

.features-app-section {
  div.order-first,
  div.order-last {
    align-items: center !important;
    display: flex !important;
  }
  
  ul li {
    margin-bottom: 0.95em;
    font-size: 1.25em;
    @include media-breakpoint-down(sm) {
      font-size: 0.85em;
    }
  }
}

.features-more-section {
  .items {
    border: 1px solid #e7e7e8;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 10px rgba(41, 44, 28, 0.1);
    padding-top: 1rem;

    .icon {
      width: 90px;
      height: 90px;
      @include border-radius(50%);

      background: $secondary;

      span {
        color: #fff;
      }
    }

    .media-body {
      h3 {
        min-height: 3em;
        font-size: 17px;
      }
    }
  }
}