.ftco-footer {
  font-size: 16px;
  padding-bottom: 0 !important;

  @include media-breakpoint-down(sm) {
    padding: 2em 0em 0em 0em;
  }

  p {
    color: rgba($white, .7);
  }

  a {
    color: rgba($white, .7);

    &:hover {
      color: $white;
    }
  }

  .ftco-footer-main {
    background: $primary;

    .ftco-footer-logo {
      text-transform: uppercase;
      letter-spacing: .1em;
    }
  
    .ftco-footer-widget {
      h2 {
        font-weight: normal;
        color: $white;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 300;
      }
  
      ul {
        li {
          a {
            span {
              color: $white;
            }
          }
        }
      }
    }

    .ftco-heading-2 {
      font-size: 17px;
      font-weight: 400;
      color: $black;
    }
  }

  .ftco-footer-partners {
    background-color: $grey;
    color: rgba($white, .7);
    font-size: 0.85em;
        
    @include media-breakpoint-down(sm) {
      text-align: center;
    }

    .text-support {
      margin-left: 27%;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }

    .row {
      align-items: center !important;
      justify-content: center !important;
    }
  
    .row.logos {
      margin-top: -10px;

      @include media-breakpoint-down(sm) {
        margin-top: 0px;
      }
    }
  
    img {
      filter: brightness(0) invert(1);
      -webkit-filter: brightness(0) invert(1);
      
      @include media-breakpoint-down(sm) {
        max-width: 60%;
      }
    }
  }

  .ftco-footer-rights {
    background-color: $grey;
    padding-top: 10px;

    hr {
      border-top: 1px solid rgba($white, .2) !important;
      padding-bottom: 1em;
    }

    img {
      max-width: 70px;
    }

    .help-links {
      margin-top: -1em;

      span {
        margin: 0 0.5em;
      }
    }

    .colorlib {
      color: $grey;
      font-size: 0.5em;

      a,
      a:hover {
        color: $grey;
      }
    }
  }

}


.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;

    a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba($white, .05);
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        color: $white;
      }
    }
  }
}

.footer-small-nav {
  >li {
    display: inline-block;

    a {
      margin: 0 10px 10px 0;

      &:hover,
      &:focus {
        color: $primary;
      }
    }
  }
}

.media {
  .ftco-icon {
    width: 100px;

    span {
      color: $primary;
    }
  }
}

.ftco-media {
  background: $white;
  border-radius: 0px;

  .heading {
    font-weight: normal;
  }

  &.ftco-media-shadow {
    padding: 40px;
    background: $white;
    box-shadow: 0 10px 50px -15px rgba(0, 0, 0, .3);
    transition: .2s all ease;
    position: relative;
    top: 0;

    &:hover,
    &:focus {
      top: -3px;
      box-shadow: 0 10px 70px -15px rgba(0, 0, 0, .3);
    }
  }

  .icon {
    font-size: 50px;
    display: block;
    color: $primary;
  }

  &.text-center {
    .ftco-icon {
      margin: 0 auto;
    }
  }
}