.home-customers-section {
  background-color: $quarternary_lighten;
  margin-bottom: 0em;
  padding-bottom: 2em;

  .subheading {
    color: $grey;
    font-size: 1.35em;
    padding-top: 0.5em;
  }

  .home-customers {
    align-items: center !important;
    justify-content: center !important;

    top: 0;
    left: 54%;
    text-align: left;
    height: 60px;
    overflow: hidden;

    .customers {
      animation: rotate 20s ease-in-out infinite;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      .customer {
        align-items: center !important;
        justify-content: center !important;
        display: block;
        min-height: 90px;
      }
    }
  }

  img {
    -webkit-filter: brightness(0.45);
    filter: brightness(0.45);
  }
}

@keyframes rotate {
  from, to {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-90px);
  }
  50% {
    transform: translateY(-180px);
  }
  75% {
    transform: translateY(-270px);
  }
  99% {
    transform: translateY(-360px);
  }
}

@-webkit-keyframes bg {
  from, to { background: yellow; }
  33% { background: green; }
  66% { background: blue; }
}

.c-carousel-container {
  height: 90px;
  margin: 0 auto;
  width: 960px;
}

.c-carousel-container .c-carousel-item {
  align-items: center;
  display: flex;
  font-size: 64px;
  font-weight: bold;
  justify-content: center;
}

.c-carousel-container .c-carousel-item:nth-child(odd) {
  
}

.c-carousel-container .c-carousel-item:nth-child(even) {
  
}